name: Provide APK Download

on:
  workflow_dispatch:    # adds a "Run workflow" button

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-apk
          path: 1.apk
